.css-1u9des2-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 0px !important;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    box-sizing: border-box;
}

.css-qbdosj-Input {
    visibility: visible;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: white !important;
    box-sizing: border-box;
}

.css-166-Input input{
    color: white !important;
}



.css-1im77uy-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: #001e3c !important;
    border-color: #4d6277 !important;
    border-radius: 4px !important;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.css-qbdosj-Input {
    visibility: visible;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: hsl(0, 0%, 0%);
    box-sizing: border-box;
}

.css-1k7wgov-control{
    background-color: #001e3c !important;
    border-color: 1px solid #4d6277 !important;
    box-shadow: 0 0 0 1px #4d6277 !important;
    border-width: 1px !important;
    border-radius: 4px !important;
}

.css-1k7wgov-control:hover{
    border-color: 1px solid #4d6277 !important;
    border-width: 1px !important;
}

.css-166bipr-Input{
    color:#FFFFFF !important;
}

.css-lkh0o5-menu{
    background-color: #003b75 !important;
}

.css-1nmdiq5-menu:hover{
    background-color: #001e3c !important;
}

.css-1dimb5e-singleValue{
    grid-area: 1/1/2/3;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF !important;
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
}

.css-1jqq78o-placeholder{
    color: #e6e9ecad !important;
}

.css-1cfo1cf{
    color: #FFFFFF !important;
}